# Dependencies
node_modules/
package-lock.json
yarn.lock

# OS Files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# API Keys & Secrets
secrets.js
.env

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*
